

.html .body{
    height: 100%;

}
.body{
    background-color: #e6ecf0!important;
}

.card.welcompage{
    height: auto;
    width: 500pt;
    margin-top:5%;
    background-color: rgba(255,255,255,0.75) !important;
    -webkit-animation: fadein 1s;
    animation: fadein 1s;
}
.card.search-results{
    margin-top:0pt;
    margin-left:10%;
    margin-right:10%;
    display: hidden;
    width:80%;
}

.card.search-results .card-body.col-sm-8{
    margin-left: 5%;
}

.content{
    margin-left:3%;
    margin-top:3%;
    margin-right: 3%;
    margin-bottom: 3%;
}

.stats{
    margin-bottom:0%;

}

.center-text{
    text-align: center;
}

.profile-content{

}

.home-page-post-card{
    margin-top:5pt;
}

.shadow-textarea textarea.form-control::placeholder {
    font-weight: 300;
}
.shadow-textarea textarea.form-control {
    padding-left: 0.8rem;
}



@keyframes fadein{
    from {opacity: 0;}
    to {opacity: 1;}
}
