

.html .body{
    height: 100%;

}
.body{
    background-color: #e6ecf0!important;
}

.login-back{
    background-image: url("/static/img/login-back.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height:100vh;
    overflow: scroll;
}

.signup-back{
    background-image: url("/static/img/sign-up.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height:100vh;
    overflow: scroll;
}

.card.welcompage{
    height: auto;
    width: 500pt;
    margin-top:5%;
    background-color: rgba(255,255,255,0.75) !important;
    -webkit-animation: fadein 1s;
    animation: fadein 1s;
}
.card.search-results{
    margin-top:0pt;
    margin-left:10%;
    margin-right:10%;
    display: hidden;
    width:80%;
}

.card.search-results .card-body.col-sm-8{
    margin-left: 5%;
}

.card.friend-request{
    margin: 0 auto;
    width: 50%;
    float: none;
    margin-top: 10px;
}

.content{
    margin-left:3%;
    margin-top:3%;
    margin-right: 3%;
    margin-bottom: 3%;
}

.stats{
    margin-bottom:0%;
    font-size: 9pt;
    font-weight: bold;
}

.center-text{
    text-align: center;
}

.profile-card-content{
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1% !important;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.home-page-post-card{
    margin-top:5pt;
    position: fixed;
}

.home-page-github-card{
    margin-top:5pt;
}
.home-page-github-card h5{
    margin:2%;
}


#profile-card-button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}


@keyframes fadein{
    from {opacity: 0;}
    to {opacity: 1;}
}

.nav-bell{
    font-size: 24px;
}
.nav-notify{
    position: relative;
}

.badge-danger{
    position: absolute;
    top: 5px;
    left: 15px;
    font-size: 0.6em;
}

.btn-decline{
    display: inline-block;
    background-color: #f2f2f2;
    color: #404040;
    margin: 0;

}

.btn-decline:hover{
    background-color: #d9d9d9;
    color: #404040;
}

.btn-accept{
    display: inline-block;
    margin: 0;
}
.dot {
  position: absolute;
  right: 10px;
  margin: 10px;
  height: 12px;
  width: 12px;
  background-color: #007bff !important;
  border-radius: 50%;
  display: inline-block;
}