<!-- templates/base.html -->
<!DOCTYPE html>
{% load bootstrap4 %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'Accounts/style.css' %}">
<link href="{% static 'open-iconic/font/css/open-iconic-bootstrap.css' %}" rel="stylesheet">
<script src="{% static "Accounts/script.js" %}"></script>
<html lang="en-ca">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    {% bootstrap_messages %}
</head>
<body style="background-color: #e6ecf0;">
  {% block content %}

  {% endblock %}
</body>
</html>