<!-- templates/base.html -->
<!DOCTYPE html>
{% load bootstrap4 %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'Accounts/style.css' %}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<script src="{% static "Accounts/script.js" %}"></script>
<script src="{% static "Accounts/friends.js" %}"></script>
<html lang="en-ca">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    {% bootstrap_messages %}
</head>
<body style="background-color: #e6ecf0;">
  {% block content %}

  {% endblock %}
</body>
</html>