{% extends 'Accounts/base.html' %}
{% csrf_token %}
{% block title %}Search Results{% endblock %}
{% load static %}
{% block content %}
    {% if user.is_authenticated%}
        {% include 'Accounts/nav.html' %}
        <div id='friend-div'>
        </div>
        <script>
            const csrf_token = "{{ csrf_token }}"
            console.log('{{query}}');
            if('{{query}}' == 'friends'){
                console.log("friends");
                getFriends('{{user_be_viewed.url}}');
            }else if ('{{query}}' == 'followers'){
                getFollowers('{{user_be_viewed.url}}');
            }else if ('{{query}}' == 'following'){
                getFollowing('{{user_be_viewed.url}}');
            }
        </script>
    {% else %}

    {% endif %}

{% endblock %}