{% load bootstrap4 %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'Accounts/style.css' %}">
<script src="{% static "Accounts/script.js" %}"></script>

{% if user.is_authenticated %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="{{request.user.url|add:'/'}}">{{request.user.displayName}}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item nav-bell"></li>
                    <a class="nav-link nav-notify" href='/notification'>
                        <i class="fas fa-sm fa-bell" href='/notification'></i>
                        <span class="badge badge-danger"></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href='{{request.user.url|add:"/"}}'>Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href='{{request.user.url|add:"/info/?host="|add:request.user.host}} '>Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href='{{request.user.url|add:"/friends/?host="|add:request.user.host}}'>Friends</a>
                </li>
            </ul>
            <form class="form-inline" action="{% url 'searchresult' %}" method='get' >
                <input class="form-control mr-sm-2" name="search" type="search" placeholder="Display name" aria-label="Search">
                <button class="btn btn-outline-light my-2 my-sm-0" type="post">Search</button>
            </form>
            <a style="margin-left:1%" class="btn btn-outline-light my-2 my-sm-0" href="{% url 'logout' %}">Logout</a>
        </div>
        <span class="glyphicon glyphicon-bell"></span>
    </nav>
{% else %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        
        <a class="btn btn-outline-light my-2 my-sm-0" href="{%url 'login'%}" style="margin-left:12%">Login</a>
        <a class="btn btn-outline-light my-2 my-sm-0" href="{%url 'signup'%}" style="margin-left:1%">Create an account</a>
    </nav>
    </nav>
{% endif %}
