<!-- templates/home.html -->
{% extends 'Accounts/base.html' %}
{% csrf_token %}
{% block title %}Home{% endblock %}
{% load static %}
{% block content %}
    {% if user.is_authenticated%}
        {% include 'Accounts/nav.html' %}
        <script>remote = [];</script>
        {% for info in remote %}
            <script>
                remote_info = {"host": '{{ info.host }}', 'username':'{{ info.username }}', 'password':'{{ info.password }}' };
                remote.push(remote_info);
            </script>
        {% endfor %}
        <script>
            const csrf_token = '{{ csrf_token }}';
            var user_be_viewed =  {"id": '{{ request.user.id }}', "host": '{{ request.user.host }}', "displayName": '{{ request.user.displayName }}', "url": '{{ request.user.url }}' };

            current_user =  {"id": '{{ request.user.id }}', "host": '{{ request.user.host }}', "displayName": '{{ request.user.displayName }}', "url": '{{ request.user.url }}' };
            request_user_id = '{{ request.user.id }}'; 
            init_home_page(user_be_viewed, remote);

        </script>
        <div class="content row">
            <!-- card -->
            <div class='col-sm-3 card' style="height: 100%;">
                <h1 id="displayName"class="h1 text-primary center-text">{{request.user.displayName}}</h1>
                <hr>
                <div class='row'>
                    <div class='col-sm-6'>
                        <p class="text-secondary center-text stats" >Friends</p>
                        <h3 id="num-friends" class="text-primary center-text" style="text-align: center;"></h3>
                    </div>
                    <div class='col-sm-6'>
                        <p class="text-secondary stats center-text">Posts</p>
                        <h3 id="num-posts" class="text-primary center-text" ></h3>
                    </div>

                </div>
                <div class='row'>
                    <div class='col-sm-6'>
                        <p class="text-secondary stats center-text">Following</p>
                        <h3 id="num-following" class="text-primary center-text" ></h3>
                    </div>
                    <div class='col-sm-6'>
                        <p class="text-secondary stats center-text">Followers</p>
                        <h3 id="num-follower" class="text-primary center-text" ></h3>
                    </div>
                </div>
                <a id="profile-card-button" class="btn btn-primary"  href="/posts/create/">Create a Post</a>
            </div>
            <!-- end of card -->

            <div class='col-sm-6' id="home_page_post_cards" style="margin-left:1%">

            </div>
            <div class='col-sm' id="home_page_github_cards" style="margin-left:1%">
                <div class='card'>
                    <h2 style="margin-top:1%;margin-left:2%;"><img src="{% static 'img/github.png' %}" height="42" width="42">
                        Github Activity
                    </h2>
                </div>

            </div>
        </div>
    {% endif %}
{% endblock %}
