<!-- templates/home.html -->
{% extends 'Accounts/base.html' %}
{% csrf_token %}
{% block title %}Home{% endblock %}
{% load static %}
{% block content %}
    {% if user.is_authenticated%}
        {% include 'Accounts/nav.html' %}
          
        {% if request.user.id == user_be_viewed.id %}
            {{ request.user.username }}, this is your home page <br>
        {% endif %}

        Login as: {{ request.user.username }}! <br>
        Viewing:  {{ user_be_viewed.username }}!
        <br>
        <a href="{% url 'logout' %}">logout</a>
        <br>

        <!-- If user is viewing his own page. Show the search bar-->
        {% if user.id == user_be_viewed.id %}
            
        {% else %}
            <script>
            const csrf_token = "{{ csrf_token }}"
            current_user =  {"id": '{{ request.user.id }}', "host": '{{ request.user.host }}', "displayName": '{{ request.user.displayName }}', "url": '{{ request.user.url }}' };
            user_be_viewed =  {"id": '{{ user_be_viewed.id }}', "host": '{{ user_be_viewed.host }}', "displayName": '{{ user_be_viewed.displayName }}', "url": '{{ user_be_viewed.url }}' };
            init_profile_page(current_user, user_be_viewed);
            </script>
            <button id="btn-befriend" class="btn btn-primary" onclick="sendFriendRequest( current_user, user_be_viewed)">Be a friend</a>
            <button id="btn-unfriend" class="btn btn-outline-primary" onclick="sendUnFriendRequest( current_user, user_be_viewed)">Unfriend</a>
        {% endif %}
    {% else %}
        <a href="{% url 'login' %}">Login</a>
        <br>
        <a href="{% url 'signup' %}">Create an account</a>
    {% endif %}
{% endblock %}