<!-- templates/home.html -->
{% extends 'Accounts/base.html' %}
{% csrf_token %}
{% block title %}Home{% endblock %}
{% load static %}
{% block content %}
    {% if user.is_authenticated%}
        {% include 'Accounts/nav.html' %}
        <script>
            const csrf_token = '{{ csrf_token }}';
            var current_user =  {"id": '{{ request.user.id }}', "host": '{{ request.user.host }}', "displayName": '{{ request.user.displayName }}', "url": '{{ request.user.url }}' };
            init_home_page(current_user);
        </script>
        <div class="content row">  
            <div class='col-sm-3' style="background-color: #ffffff;">
                <h1 class="h1 text-primary center-text">{{ user.displayName }}</h1>
                <div id='user-stats' class='row'>
                    <div class='col-sm-6'>
                        <p class="text-secondary center-text stats" >Friends</p>
                        <h3 id="num-friends" class="text-primary center-text" style="text-align: center;"></h3>
                    </div>
                    <div class='col-sm-6'>
                        <p class="text-secondary stats center-text">Posts</p>
                        <h3 id="num-posts" class="text-primary center-text" ></h3>
                    </div>
                </div>
                <a class="btn btn-primary" style="display: block;margin-left: auto; margin-right: auto; margin-bottom: 5%"  href="/posts/create/">Create a Post</a>
                
            </div>
            <div class='col-sm-8' style="background-color: #ffffff; margin-left:1%">
                Post cards goes here.
            </div>
            

            
        </div>
    {% endif %}
{% endblock %}