<div class='col-sm-3 card' style="height:fit-content">
    <h1 class="h1 text-primary center-text">{{ user.displayName }}</h1>
    <div id='user-stats' class='row'>
        <div class='col-sm-3'>
            <p class="text-secondary center-text stats" >Friends</p>
            <h3 id="num-friends" class="text-primary center-text" style="text-align: center;"></h3>
        </div>
        <div class='col-sm-3'>
            <p class="text-secondary stats center-text">Followers</p>
            <h3 id="num-follower" class="text-primary center-text" ></h3>
        </div>
        <div class='col-sm-3'>
            <p class="text-secondary stats center-text">Following</p>
            <h3 id="num-following" class="text-primary center-text" ></h3>
        </div>
        <div class='col-sm-3'>
            <p class="text-secondary stats center-text">Posts</p>
            <h3 id="num-posts" class="text-primary center-text" ></h3>
        </div>
    </div>
    <a id="profile-card-button" class="btn btn-primary"  href="/posts/create/">Create a Post</a>
                
</div>