{% extends 'Accounts/base.html' %}
{% load bootstrap4 %}

{% block title %} Sign-up {% endblock %}

{% block content %}
<div class="signup-back">
  <div class="container">
    <div class="d-flex justify-content-center h-100 ">
      <div class="card welcompage">
        <h3 class="card-header" >Sign-up</h3>
        <div class="card-body">
          <form class="form" action="{% url 'signup' %}" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <button type="submit" class="btn btn-primary btn-block">Sign-up</button>
          </form>
          <a href="/author/login/">Already have an account? Login</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}