{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %} View Post {% endblock %}

{% block content %}
{% include 'Accounts/nav.html' %}
    <script>
    var post_url = '{{ post_url }}';
    var user_authenticate = '{{ user.is_authenticated }}';
    request_user_id = '{{ request_user_id }}';
    var from_one_host = '{{ from_one_host }}';
    var remote = {"host":"{{ remote.host }}","username":'{{ remote.username }}', "password":"{{remote.password}}"}
    current_user =  {"id": '{{ request.user.id }}', "host": '{{ request.user.host }}', "displayName": '{{ request.user.displayName }}', "url": '{{ request.user.url }}', "github": '{{ request.user.github }}'  };
    if(from_one_host == 'True'){
      init_single_post_page(post_url, user_authenticate, request_user_id, true, remote);
    }else{
      init_single_post_page(post_url, user_authenticate, request_user_id, false, remote);
    }
    
    </script>
    <div class="content" style="margin-left:10%; margin-right:10%;">
      <div class="row" >
        <!-- info part -->
        <div class="col-sm-3">
          <h1 id="post-title" class="h1 text-primary"></h1>
          <a id="post-author-link" class="text-secondary"></a>
          <p id="published" class="text-secondary"></p>
        </div>

        <!-- content part -->
        <div class="col-sm-9">
          <div id="post-image"> </div>
          <div id="post-content"> </div>
          <div id="create-comment">
          </div>
          <div id="post-comments"> </div>
        </div>

      </div>
    </div>


{% endblock %}
