{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %} View Post {% endblock %}

{% block content %}
{% include 'Accounts/nav.html' %}

    <script>
    init_single_post_page('{{ post.origin }}', '{{ user.is_authenticated }}');
    </script>
    <div class="content" style="margin-left:10%; margin-right:10%;">

      <div class="row" >
        <!-- info part -->
        <div class="col-sm-3">
          <h1 id="post-title" class="h1 text-primary"></h1>
          <a id="post-author-link" class="text-secondary"></a>
          <p id="published" class="text-secondary"></p>
        </div>

        <!-- content part -->
        <div class="col-sm-9">
          <div id="post-image"> </div>
          <div id="post-content"> </div>
          <div id="create-comment">
          </div>
          <div id="post-comments"> </div>
        </div>

      </div>
    </div>


{% endblock %}
